 {{#extend "layout"}}
  {{#content "main"}}
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>{{invitedByUserFirstName}} {{invitedByUserLastName}} ({{invitedByUserName}}) invited you to join for Restorecommerce.
      To activate your account, please click on the following link:
    </p>
    <p><a href="{{invitationURL}}">{{invitationURL}}</a></p>
    <p>The Restorecommerce Team</p>
    <br/>
    <br/>
  {{/content}}
{{/extend}}
