{{#extend "layout"}}
  {{#content "main"}}
    <p>Dear {{firstName}} {{lastName}},</p>
    {{#if passwordChange}}
      <p>You requested a password change for your account. If you wish to do so, please click on the following link:</p>
    {{else}}
      <p>You requested an email address change for your account. If you wish to do so, please click on the following link:</p>
    {{/if}}
    <p><a href="{{confirmationURL}}">{{confirmationURL}}</a></p>
    <p>If you did not request this, please contact the Restore Commerce support team.</p>
    <p>The Restore Commerce Team</p>
    <br/>
    <br/>
  {{/content}}
{{/extend}}